
* {
    box-sizing: border-box;
}

h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
    padding: 2rem;
    color: #000000;
}
button{
    box-shadow: 10px 10px 20px 0 rgb(0, 0, 0);

}
p{
    text-align: center;
    margin-top: 15px;
}

body {
    background-color: yellow;
}

.box {
    width: 60%;
    background-color: #fefefe;
    box-shadow: 0 20px 30px 0 rgb(16, 180, 79);
    height: 350px;
    padding: 2rem 0;
    margin: auto;
}

.user-input {
    display: block;
    width: 40%;
    height: 60px;
    padding: 10px;
    margin: 1rem auto;
    font-size: 1.2rem;
    text-align: right;
    border-radius: 24px;
}

.wrapper > input[type="button"] {
    width: 30%;
    height: 50px;
    padding: 5px;
    background-color: grey;
    border-radius: 24px;
    border: 3px solid rgba(122, 228, 96, 0.562);
    color: #fff;
    text-align: center;
}

input[type="button"]:focus {
    border: 3px solid #d2d2d2;
}

span {
    font-weight: bold;
    font-size: 2rem;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
}

.currency {
    width: 40%;
    border-radius: 3px;
    overflow: hidden;
}

.container select {    
    height: 40px;
    background-color: black !important;
    color: grey;
    padding-left: 5px;
    font-size: 1rem;
}

.container input {
    height: 60px;
    padding: 1rem;
    text-align: right;
    font-size: 1.5rem;
    color: black;   
}

.container select, input {
    display: block;
    width: 100%;
    background-color: #D8E2CE; 
    border: none;
}

select:focus, input:focus {
    outline: none;
}

@media screen and (max-width: 750px) {
    .wrapper {
        width: 90%;
    }
}